<form novalidate [formGroup]="movieDefinition" (ngSubmit)="onSave()">
    <div class="row">
        <div class="col">
            <h3>Movie Definition Builder Form</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Alias</label>
            <input type="text" class="form-control form-control-sm" formControlName="alias"/>
            <span class="error" *ngIf="violations.alias">
                {{violations.alias}}
            </span>
        </div>
        <div class="col">
            <label>Description</label>
            <input type="text" class="form-control form-control-sm" formControlName="description"/>
            <span class="error" *ngIf="violations.description">
                {{violations.description}}
            </span>
        </div>
    </div>
    <!--LEGS-->
    <div class="row mt-1" >
        <div class="col">
            <table class="table table-bordered table-sm">
                <thead formGroupName="currentLeg">
                    <tr>
                        <th>Source</th>
                        <th>Instrument</th>
                        <th>Is Refleg</th>
                        <th>Price Factor</th>
                        <th>Quantity Factory</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" formControlName="id">
                            <select formControlName="source">
                            </select>
                        </td>
                        <td><select formControlName="instrument">
                            </select>
                        </td>
                        <td><input type="checkbox" formControlName="refLeg"></td>
                        <td><input type="number" formControlName="priceFactor"></td>
                        <td><input type="number" formControlName="qtyFactor"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="onAddUpdateLeg()">
                                {{ movieDefinition.get('currentLeg.id').value ? 'Update' : 'Add'}}
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let leg of movieDefinition.legs">
                        <td>{{leg.source}}</td>
                        <td>{{leg.instrument}}</td>
                        <td>{{leg.refLeg}}</td>
                        <td>{{leg.priceFactor}}</td>
                        <td>{{leg.qtyFactor}}</td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <label>Display Quantity</label>
            <input type="text" class="form-control form-control-sm" formControlName="displayQty"/>
            <span class="error" *ngIf="violations.displayQty">
                {{violations.displayQty}}
            </span>
        </div>
        <div class="col">
            <label>Drip Size</label>
            <input type="number" class="form-control form-control-sm" formControlName="dripSize"/>
            <span class="error" *ngIf="violations.dripSize">
                {{violations.dripSize}}
            </span>
        </div>
        <div class="col">
            <label>Max Leg Amount</label>
            <input type="number" class="form-control form-control-sm" formControlName="maxLegAmount"/>
            <span class="error" *ngIf="violations.maxLegAmount">
                {{violations.maxLegAmount}}
            </span>
        </div>

    </div>
    <div formGroupName="factor" class="row">
        <div class="col-9">
            <fieldset>
                <legend>Spread Calculations</legend>
                <div class="row">
                    <div class="col">
                        <label >Weighting mode</label>
                        <input type="text" class="form-control form-control-sm" formControlName="spreadWeighingMode">
                        <span class="error" *ngIf="violations.spreadWeighingMode">
                            {{violations.spreadWeighingMode}}
                        </span>
                    </div>
                    <div class="col">
                        <label >Price Format</label>
                        <input type="text" class="form-control form-control-sm" formControlName="priceFormat">
                         <span class="error" *ngIf="violations.priceFormat">
                            {{violations.priceFormat}}
                        </span>
                    </div>
                    <div class="col">
                        <label >Tick Size</label>
                        <input type="text" class="form-control form-control-sm" formControlName="tickSize">
                        <span class="error" *ngIf="violations.tickSize">
                            {{violations.tickSize}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-3">
            <fieldset>
                <legend>Quantity Calculations</legend>
                <div class="row">
                    <div class="col">
                        <label >Weighting mode</label>
                        <input type="text" class="form-control form-control-sm" formControlName="qtyWeighingMode">
                        <span class="error" *ngIf="violations.qtyWeighingMode">
                            {{violations.qtyWeighingMode}}
                        </span>
                    </div>                    
                </div>    
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Submit" class="btn btn-sm btn-primary"/>
            <input type="button" value="Rest" class="btn btn-sm btn-danger" (click)="onReset()"/>
        </div>
    </div>
</form>
<br>
<div class="row mt-3">
    <div class="col">
        IsDirty : {{ movieDefinition.dirty }},<br>
        IsPristine : {{ movieDefinition.pristine }} ,<br>
        Touched : {{ movieDefinition.touched }} ,<br>
        UnTouched : {{ movieDefinition.untouched }} ,<br>
        Valid : {{ movieDefinition.valid }} ,<br>

        <strong>Movie Definition Object : </strong><br>
        {{ movieDefinition.value | json : 4 }}
    </div>
</div>
