<!--<div class="container-fluid lr-pad2">
  <div class="row no-gutters">
    <div class="col">
      Model Form
    </div>
    <div class="col">
      2
    </div>
    <div class="col">
      3
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <app-model-form></app-model-form>
    </div>
  </div>
</div>-->

<!--<div>
  <nav class="navbar navbar-inverse bg-primary">-->
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <!--<a class="navbar-brand" href="#">Home</a>-->
    <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
      <!--<ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/moviebuilder']">Movie Builder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/movieticket']">Ticket</a>
          </li>
      </ul>-->
    <!--</div>-->



    <!--<div class='container-fluid'>
      <a class='navbar-brand'>{{pageTitle}}</a>
      <ul class='nav navbar-nav'>
        <li><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/products']">Product List</a></li>
        <li><a [routerLink]="['/productEdit/0']">Add Product</a></li>
      </ul>
    </div>-->
  <!--</nav>-->
  <div>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Movie Theatre</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/moviebuilder']">Builder</a>
        <a class="nav-item nav-link" [routerLink]="['/movieticket']">Ticket</a>
      </div>
    </div>
  </nav>


  <div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>
</div>